<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132801547829-ejtupt3jbl11haqog0l0kpn13kfpbm4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132801547829-ejtupt3jbl11haqog0l0kpn13kfpbm4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCMPWZwSwojM5vM_EXDe0vQmL2oMJQYooo</string>
	<key>GCM_SENDER_ID</key>
	<string>132801547829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naoxuejia.ios</string>
	<key>PROJECT_ID</key>
	<string>appdemo-e515b</string>
	<key>STORAGE_BUCKET</key>
	<string>appdemo-e515b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132801547829:ios:7433d73b7e83b9199bab7c</string>
	<key>DATABASE_URL</key>
	<string>https://appdemo-e515b.firebaseio.com</string>
</dict>
</plist>